.container {
  display: flex;
  gap: 1rem;
}

.control {
  display: flex;
  position: relative;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid rgb(187, 187, 187);
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control_indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 75px;
  background: #e6e6e6;
  border: 0px solid #000000;
}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
  background: #e98a50;
}

.control input:checked ~ .control_indicator {
  background: #ed8e53;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
  background: #ed8e53;
}
.control input:disabled ~ .control_indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control_indicator:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control_indicator:after {
  display: block;
}

.control-radio .control_indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: transparent;
  transition: background 250ms;
}
.control-radio input:disabled ~ .control_indicator:after {
  background: #7b7b7b;
}

.border-radius-left {
  border-radius: 15px 0 0 15px;
}

.border-radius-right {
  border-radius: 0 15px 15px 0;
}
